/* Icon sources */
.start-button {background-image: url("./resource/start-button.png");}
.search-button {background-image: url("./resource/search-button.png");}
.multitask-button {background-image: url("./resource/multitask-button.png");}
.widgets-button {background-image: url("./resource/widgets-button.png");}
.chat-button {background-image: url("./resource/chat-button.png");}
.explorer-button {background-image: url("./resource/explorer-icon.png");}
.edge-button {background-image: url("./resource/edge-icon.png");}
.mail-button {background-image: url("./resource/mail-icon.png");}
.chrome-button {background-image: url("./resource/chrome-icon.png");}
.word-button {background-image: url("./resource/word-icon.png");}
.excel-button {background-image: url("./resource/excel-icon.png");}
.powerpoint-button {background-image: url("./resource/powerpoint-icon.png");}
.onedrive-button {background-image: url("./resource/onedrive-icon.png");}
.onenote-button {background-image: url("./resource/onenote-icon.png");}
.outlook-button {background-image: url("./resource/outlook-icon.png");}
.notepad-button {background-image: url("./resource/notepad-icon.png");}
.calculator-button {background-image: url("./resource/calculator-icon.png");}
.paint-button {background-image: url("./resource/paint-icon.png");}
.calendar-button {background-image: url("./resource/calendar-icon.png");}
.office-button {background-image: url("./resource/office-icon.png");}
.todo-button {background-image: url("./resource/todo-icon.png");}
.teams-button {background-image: url("./resource/teams-icon.png");}
.photos-button {background-image: url("./resource/photos-icon.png");}

.tray-expand-icon {background-image: url("./resource/tray-expand-icon.png");}
.tray-sound-icon {background-image: url("./resource/tray-sound-mute-icon.png");}
.tray-wifi-icon {background-image: url("./resource/tray-wifi-icon.png");}
.tray-battery-icon {background-image: url("./resource/tray-battery-icon.png");}
.tray-quick-settings-icon {background-image: url("./resource/quick-settings-icon.png");}

.extend-control-icon {background-image: url("./resource/tray-expand-icon.png");}
.bluetooth-control-icon {background-image: url("./resource/bluetooth-setting-icon.png");}
.brightness-icon {background-image: url("./resource/brightness-icon.png");}

.recycle-bin-icon {background-image: url("./resource/empty-recycle-bin-icon.png");}

.search-field-icon {background-image: url("./resource/search-field-icon.png");}
.power-icon {background-image: url("./resource/power-icon.png");}
.profile-picture {background-image: url("./resource/user-profile-icon.png");}
.edit-icon {background-image: url("./resource/edit-icon.png");}
.settings-icon {background-image: url("./resource/settings-icon.png");}

/* Icon Styling */
.start-button {
    filter: brightness(1.2) contrast(0.8) saturate(1.3);
    border-radius: 4px;
}
.start-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}
.start-button:active {
    background-size: 50%;
}
.explorer-button {width: 28px;}
.edge-button {width: 32px;}
.tray-battery-icon {height: 1.2rem;width: 1.2rem;}
.extend-control-icon {rotate: 90deg;}
.search-field-icon {transform: rotateZ(90deg);}
